<?php
/**
 * @var $block \Kowal\Stopka\Block\Stopka
 */
?>
<div class="kowal_stopka">
    <?php
    $columns = $block->getColumns();

    for ($i = 1; $i <= $columns; $i++) {
        $cmsBlock = $block->getContentBlock($i);
        $cmsBlockTitle = $block->getContentHeader($i);
        ?>
        <div class="columny ilosc-<?= $columns; ?>">
            <?php ?>
            <div class="title"><strong><?= $cmsBlockTitle; ?></strong></div>
            <?= $cmsBlock; ?>
        </div>
        <?php
    } ?>
</div>