@page_footer: #fff;

//
// Reset szablonu Jet
//
.amtheme-custom-footer {
  .footer-column:last-child {
    align-items: normal !important;
  }
}

.footer.links {
  column-count: auto !important;
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

  .kowal_stopka {
    .columny {
      ul {
        list-style: none;
        padding-inline-start: 0px;
        li {
          list-style-position: inside;
          &:before{
            content: "\2022";
            //color: red;
            font-weight: bold;
            display: inline-block;
            width: 1em;
          }
        }
      }
      .title {
        text-transform: uppercase;
        font-size: 110%;
        padding-bottom: 10px;
        strong{
          font-weight: 200;
        }
      }
    }
  }
}

//
//  Mobile @screen__s do 639
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
  .kowal_stopka {
    width: 100%;
    float: left;

    .columny {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      ul {
        li {
          &:before{
            float: left;
            line-height: 23px;
          }
        }
      }

      .title {
        padding-top: 20px;
      }
    }
  }

}


//
//  Mobile @screen__m  do 768
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

  .kowal_stopka {
    width: 100%;
    float: left;

    .columny {
      display: inline-block;
      vertical-align: top;
      width: 32%;
      .title {
        padding-top: 20px;
      }
    }
  }
}


//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .kowal_stopka {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;

    .columny {
      display: inline-block;
      vertical-align: top;

      &.ilosc-1 {
        width: 100%;
      }

      &.ilosc-2 {
        width: 49%;
      }

      &.ilosc-3 {
        width: 32%;
      }

      &.ilosc-4 {
        width: 24%;
      }

      &.ilosc-5 {
        width: 19%;
      }
    }
  }
}


//
//  Desktop large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
  .kowal_stopka {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;

    .columny {
      display: inline-block;
      vertical-align: top;

      &.ilosc-1 {
        width: 100%;
      }

      &.ilosc-2 {
        width: 49%;
      }

      &.ilosc-3 {
        width: 32%;
      }

      &.ilosc-4 {
        width: 24%;
      }

      &.ilosc-5 {
        width: 19%;
      }
    }
  }

}
